img {
  width: 100%;
  height: auto;
}

.paintingCell {
  border: solid 2px blue;
  max-width: 20vw;
  margin: 20px 0px;
}

.imageContainer {
  border: solid 2px red;
  width: 20vw;
  height: 50vh;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-bottom: 50px;
  height: max-content;
}

.displayPainting {
  width: 50%;
  font-size: 30px;
  color:white;
  background-color: black;
  position: relative;
  top: 0;
}

.flex{
  display:flex;
  justify-content: space-evenly;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  padding-top: 30px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom:5px solid black;
}

.fas {
  color:goldenrod;
  margin-left: 3%;
  font-size: 50px;
}
.space {
  margin-top:20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.paintingsGallery > li {
border: 1px solid wheat;
background: #f4f3f3;
width: 80%;
}

button {
  padding: 1px;
  width: 90%;
  margin: 14px;
  font-family: 'Oxygen', sans-serif;
}

#root {
 background-color: aliceblue;
}
.Pspace {
margin: 10px;
font-family: 'Oxygen', sans-serif;
font-size: 14px;
text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 35.3% 36.3% 35%;
  padding: 10px;
}

.price {
  font-size:20px;
  font-weight: bold;
  margin-left:15px;
}

#cart:hover{
  cursor: pointer;
}
.cartImage {
  width: 55%;
}

.flexBox {
  display: flex;
}
.cartBox {
  position: absolute;
  right: 182px;
  top: 81px;
  width: 20%;
  background-color: white;
  padding: 30px 10px;
  font-family: 'Oxygen', sans-serif;
}
.list {
  margin-bottom:0;
}
.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 14px;
  margin-top: 18px;
}

.cartPrice {
  margin-top:15px;
  text-align: end;
}

.total {
  border-top: 2px solid black;
  padding-top: 8px;
  margin-top: 17px;
}
button:active {
  background-color: rgb(170, 153, 153);
  border: none;
  padding: 1px;
  width: 90%;
  border-radius: 2px;
}

h2 {
  margin-left: 14px;
  font-family: 'Ubuntu', sans-serif;
}

blockquote {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  margin-bottom: 100px;
}
ul {
  margin-top:40px;
}
.peterImg {
  width: 45%;
  margin: 30px 0px;
}
.peterSection {
  border-top:5px solid black;
  
}
h3 {
  font-size: 35px;
  margin-top:15px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.flexBox {
  display: flex;
  align-items: center;
}

h4 {
  font-size: 50px;
  font-family: 'Oxygen', sans-serif;
}
.divStyle {
  width: 55%;
  margin-left: 3%;
}

/* @media () */