
img {
  width: 100%;
  height: auto;
}

.paintingCell {
  border: solid 2px blue;
  max-width: 20vw;
  margin: 20px 0px;
}

.imageContainer {
  border: solid 2px red;
  width: 20vw;
 height: 50vh;
 display: flex;
 align-items: center;
}

li {
  list-style: none;
  margin-bottom: 50px;
  height: max-content;
}

.displayPainting {
  width: 50%;
  font-size: 30px;
  color:white;
  background-color: black;
  position: relative;
  top: 0;
}

.flex{
  display:flex;
  justify-content: space-evenly;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
}

.fas {
display: flex;
justify-content: flex-end;
position: relative;
bottom: 68px;
font-size:30px;
right: 10px;
}
.space {
  margin-top:20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.paintingsGallery > li {
border: 1px solid wheat;
background: #f4f3f3;
width: 80%;
}

button {
  padding: 5px;
  width: 90%;
  margin: 14px;
}

#root {
 background-color: aliceblue;
}
.Pspace {
margin: 10px;
font-family: 'PT Serif', serif;
font-size: 14px;
text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 35.3% 36.3% 35%;
  padding: 10px;
}

.price {
  font-size:20px;
  font-weight: bold;
  margin-left:15px;
}

#cart:hover{
  cursor: pointer;
}
.cartImage {
  width: 55%;
}

.flexBox {
  display: flex;
}
.cartBox {
  position: absolute;
  right: 163px;
  top: 77px;
  border:1px solid red;
  width: 20%;
  background-color: white;
  padding: 20px 10px;
}
.list {
  margin-bottom:0;
}
.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cartPrice {
  margin-top:15px;
  text-align: end;
}

.total {
  border-top: 2px solid black;
  padding-top: 5px;
  margin-top: 5px;
}